@use '../../../../libs/components/scss/settings/colors.scss' as gmbr-colors;

.app-app {
  background: gmbr-colors.$background-500-color;
  color: gmbr-colors.$primary-500-color-contrast;
  height: 100%;
}
