@import '../scss/settings/sizes.scss';
@import '../scss/settings/margins.scss';
@import '../scss/settings/colors.scss';

.app-app {
  background: $background-500-color;
  color: $primary-500-color-contrast;
  height: 100%;
}
