@use '../../../../../../libs/components/scss/theming.scss' as gmbt-theming;

.app-two-columns-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: gmbt-theming.$horizontal-margin-ms;
}

@media (max-width: gmbt-theming.$sm-max-size) {
  .app-two-columns-layout {
    display: block;
  }
}
